{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            kek
        </div>
    </div>
{% endblock %}
